@import "tailwindcss";
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vh;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100vh;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}